<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>490CC9A31C4D0B01007CA45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>490CC9BC1C4D0B01007CA45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>490CC9C71C4D0B01007CA45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
